[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-restful = "*"
requests = "*"
speechrecognition = "*"
pyttsx3 = "*"
pipwin = "*"
playsound = "*"

[dev-packages]
pylint-flask = "*"
pylint-flask-sqlalchemy = "*"
pylint = "*"

[requires]
python_version = "3.8"
